<%- include("partials/header") %>
<div class="row mt -5">
    <div class="col -md-6 m-auto">
        <div class="card card-body text-center">
            <h1>Welcome to the Insurance Management System</h1>
            <p>by Vignesh Kashyap and Vinayak Sharma</p>
            <a href="/users/register" class="btn btn-primary btn-block nb-2">Register Here</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>
<%- include("partials/footer") %>